body{
    /* width: 100vw; */
    /* height: 150vh; */
    background-color: red;
    background: url(/sms/res/img/studentManagement.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* Blackness of the imagee */
div.filter{
    z-index: -30;
    position: fixed;
    top: 0px;
    height: 200%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);

}




.container-fluid >.navLogo{
    height: 3rem;
    
    padding-right: 30px;

}
.navbar-toggler-icon{
    background-color:  rgb(87, 87, 87);
    /* color: white; */
}

.container-fluid > .navbar-collapse > .navbar-nav > a{
    color: white;
}


/* main */
main{
    /* height: 100vh; */
    margin: 20px 50px;
}
h1{
    /* position: fixed; */
    
    z-index: 2;
color: #fff;
}

.input-container{
   
    display: grid;
    /* grid-template-columns: repeat(3,auto); */
    gap:30px;
    padding: 0;

}

.input-container input{
    /* background-color: rgb(255, 0, 0); */
    border: 1px solid white;
    height: 40px;
    padding-left: 10px;
    width: auto;
    color: white;
}


.table{
    /* display: inline; */
    border: 2px solid rgb(124, 114, 114);
    width:100%;
    border-spacing: 0;
    
    min-height: 50px;
    /* overflow-x: auto; */
}

th,td{
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}
th{
    border: 2px solid rgb(0, 0, 0);
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding: 10px;
}
td{
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-right: 1px solid white;
}
tbody{
    border: 2px solid rgb(0, 0, 0);
    height: auto;
}


.button {
    height: 40px;
    width: 400px;
    margin: 20px;
    margin-left: 0;
    margin-top: 30px;
}






/* footer */
footer{
    /* height: 60vh; */
    /* position: fixed;
    bottom: 0px; */
    width: 100%;

    background-color: rgba(0, 0, 0, 0.425);
}
div.row{
    display: flex;
    justify-content: space-evenly;
    /* background:rgb(24, 18, 18); */
}
div.center{
    /* background-color: black; */
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.center>li>a>i{
    color: rgb(241, 231, 231);
    margin: 1vh 0;
    font-size: 300%;
}

div.col-6> h5{
    color: aliceblue;
}
div.col-6>ul>li>a{
    text-decoration: none;
    color: rgb(241, 231, 231);
}
